.hero {
    margin-top: toRem(90);
    margin-bottom: toRem(300);
    &__container {
    }

    &__body {
        display: flex;
        width: 100%;
        position: relative;
    }

    &__intermission {
        display: flex;
        flex-direction: column;
    }

    &__hello {
        color: $darkColor;
        font-size: toRem(150);
        font-weight: 800;
        line-height: math.div(176.25, 150);
        text-transform: uppercase;
    }

    &__worker {
        color: $lightDarkColor;
        font-size: toRem(51.778);
        font-weight: 300;
    }

    &__person {
        display: flex;
        position: absolute;
        max-height: toRem(650);
        max-width: toRem(650);
        right: 0;
        z-index: -1;
    }

    &__person-content {
    }
}
.person-content {
    position: relative;

    &__background {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: $lightBackGround;
        position: absolute;
    }

    &__person-img {
        aspect-ratio: 570/570;
        filter: grayscale(1);
    }
}
.ibg {
}
.ibg--top {
}

._activeChar {
    font-weight: 800;
}
